* {
  scroll-behavior: smooth;
  outline: none;
}

@font-face {
  font-family: 'Anuphan';
  src: url('../fonts/Anuphan-Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Anuphan';
  src: url('../fonts/Anuphan-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'KondolarThai';
  src: url('../fonts/KondolarThai-Black.woff');
  font-weight: 900;
  font-style: normal;
}

.H_01 {
  font-size: 90px;
  font-weight: 900;
  font-family: 'KondolarThai';
  @media screen and (max-width: 767px) {
    font-size: 24px;
  }
}
.H_02 {
  font-size: 75px;
  font-weight: 900;
  font-family: 'KondolarThai';
  @media screen and (max-width: 767px) {
    font-size: 21px;
  }
}
.H_03 {
  font-size: 60px;
  font-weight: 900;
  font-family: 'KondolarThai';
  @media screen and (max-width: 767px) {
    font-size: 17px;
  }
}
.H_04 {
  font-size: 40px;
  font-weight: 900;
  font-family: 'KondolarThai';
  @media screen and (max-width: 767px) {
    font-size: 15px;
  }
}
.H_05 {
  font-size: 35px;
  font-weight: 900;
  font-family: 'KondolarThai';
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}

.B_01 {
  font-size: 33px;
  font-family: 'Anuphan';
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}
.B_02 {
  font-size: 27px;
  font-family: 'Anuphan';
  @media screen and (max-width: 767px) {
    font-size: 14.5px;
  }
}
.B_03 {
  font-size: 23px;
  font-family: 'Anuphan';
  @media screen and (max-width: 767px) {
    font-size: 13.5px;
  }
}
.B_04 {
  font-size: 19px;
  font-family: 'Anuphan';
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}
.B_05 {
  font-size: 16px;
  font-family: 'Anuphan';
  @media screen and (max-width: 767px) {
    font-size: 11px;
  }
}
.B_06 {
  font-size: 11px;
  font-family: 'Anuphan';
}
